@import "./vars.less";

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes loaderAnim {
  0%,
  50%,
  100% {
    background-color: rgba(255, 255, 255, 1);
  }

  25%,
  75% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  opacity: 1;
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */{
  opacity: 0;
}

body {
  padding-bottom: 4rem !important;
  background-color: var(--background-color) !important;

  &, * {
    -webkit-text-size-adjust: none;
    font-size: 98% !important;
  }
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.blanket {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.loader {
  //background-color: rgb(227, 141, 0);
  //animation: loaderAnim 4s cubic-bezier(0.5, 0, 0.75, 0) 0s infinite normal forwards;
  box-shadow: 0 .25rem 2rem -.95rem rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
    rgba(255, 255, 255, .0) 0%,
    rgba(255, 255, 255, .4) 45%,
    rgba(255, 255, 255, .4) 55%,
    rgba(255, 255, 255, .0) 100%);

    transform: translateX(-100%);
    animation: shimmer 2s infinite;
  }

  .loader-item {
    border-radius: 3rem;
    background-color: var(--loader-bg-color);
  }
}

.rounded {
  border-radius: var(--border-radius);
}

input {
  position: relative;
  padding: 1rem;
  box-shadow: 0 1rem 3rem -.5rem rgba(0, 0, 0, 0.05);
  border: 2px solid transparent;
  width: 100%;
  z-index: 5;

  transition-duration: 150ms;
  transition-timing-function: ease-out;

  font-size: larger;

  margin-bottom: 1.25rem;

  &:hover {
    background-color: rgba(255, 255, 255, 10);
  }

  &:active, &:focus {
    background-color: white;
  }

  .rounded;
}

a, button {
  text-decoration: none;
}

button {
  border-radius: 10rem !important;
  padding: .55rem 1.25rem;
  margin: .25rem 0 !important;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  cursor: pointer;
  font-weight: 400;

  color: white;
  transition: background-color .2s;

  &:disabled {
    background-color: var(--mid-gray-luscent);
    border-color: transparent;
  }

  box-shadow: 0 1rem 3rem -.5rem var(--mid-gray-luscent);

  &.light {
    color: var(--color-primary);
    background-color: transparent;
    border-color: transparent;

    box-shadow: none;

    &:hover {
      background-color: white;
    }
  }
}

.lozenge {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, .04);
  padding: .25rem .5rem;
  font-size: 10px !important;
  transition: background-color .5s;
}

.modal {
  background-color: rgba(40, 40, 40, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-items: center;

  @media screen and (max-width: @wd-small) {
    .title {
      margin-bottom: initial;
    }
  }

  .title {
    margin-bottom: 2rem
  }

  input {
    max-width: 500px;
  }

  .form-container {
    //padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 5;
    transform: translateY(-3rem);

    .form {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      min-width: 300px;
      width: 100%;
      max-width: 560px;
      height: 300px;

      form {
        background: white;
        border-radius: 1rem;
        padding: 2rem 1rem 1rem;
        box-shadow: 0 1.25rem 1.5rem -.5rem rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.transitioned {
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  transition-duration: 250ms;
}
